<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class="jumbotron text-center">
    <h1>Marketplace Site</h1>
    <p class="lead">
      <img src="assets/images/marketplace_main.png" alt="I'm Yeoman"><br>
    </p>
    <p class="animated infinite" ng-class="main.classAnimation">
      <button type="button" class="btn btn-lg btn-success" ng-show="main.current_user == undefined" ng-click="main.signup()">Sign Up Now</button>
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
      ut aliquip ex ea commodo consequat
      <acme-malarkey extra-values="['Ponewood', 'Brions', 'Ambat']"></acme-malarkey>
    </p>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="product in main.products | orderBy:'price_cents'">
      <div class="thumbnail">
        <div class="caption">
          <h3>{{ product.name }}</h3>
          <p>{{ product.description }}</p>
        </div>
      </div>
    </div>
  </div>

</div>
