<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4">
      <form name="newUserForm" id="newUserForm" ng-submit="signup.signup(newUserForm.$valid)" novalidate>
        <div class="form-group">
          <label for="firstName">First Name:</label>
          <input type="text" class="form-control" id="firstName" ng-model="signup.user.first_name">
        </div>
        <div class="form-group">
          <label for="lastName">Last Name:</label>
          <input type="text" class="form-control" id="lastName" ng-model="signup.user.last_name">
        </div>
        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" class="form-control" id="email" ng-model="signup.user.email">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd" ng-model="signup.user.password">
        </div>
        <div class="form-group">
          <label for="pwd">Password Confirmation:</label>
          <input type="password" class="form-control" id="pwdconf" ng-model="signup.user.password_confirmation">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</div>
